/**
yellow: #fcffde
darker blue: #69deff
pale turquoise: #aafff7
powder blue: #b9e2ff
misty rose: #ffd2e4
darker pale turquise: #b2e6f2
thistle: #e3c5f2
**/
$yellow: #fcffde;
$rose: #ffd2e4;

html,body {
    background-color: $yellow;
}